body{
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.left{
    width: 50%;
    /* border: 1px solid; */
}
.left img{
    width: 100%;
}

.right{
    width: 50%;
    /* border: 1px solid; */
}
.text{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:50px;
}
.text p{
    font-size: 20px;
}
.text button{
    padding: 20px 25px;
    margin-top: 30px;
    border: none;
    background: #333333;
    color: white;
    font-weight: bolder;
}




@media screen and (max-width:600px){
    .container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        width: 100%;
    }
    .left > .image{
        width: 90%;
    }
    .right{
        width: 100%;
    }
    .text{
        width: 80%;
    }
}